
html {
    scroll-behavior: smooth;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
body {
    background-color: rgb(119,136,153);
    color: #000000;
    -ms-overflow-style: none;  /* Hide Scrollbar IE and Edge */
    scrollbar-width: none;  /*  Hide Scrollbar Firefox */
    margin: 0;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none; /*  Hide Scrollbar Safari, Chrome and Opera*/
}
p {
    color: #fff;
}

@media (min-width:319px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */
    .nav-links {
        display: none;
    }
    /* Nav Logo */
    #nav-logo img {
        position: absolute;
        top: 10px;
        left: 10px;
        height: 70px;
        width: 70px;
        z-index: 10;
    }
    /* Hamburger */
    .hamburger-menu {
        width: 35px;
        height: 30px;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .line {
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: all 0.8s;
    }
    .line:nth-child(2) {
        width: 80%;
    }
    .line:nth-child(3) {
        width: 60%;
    }
    .change .line-1 {
        transform: rotateZ(-405deg) translate(-8px, 6px);
        background-color: #4c516d;
    }
    .change .line-2 {
        opacity: 0;
    }
    .change .line-3 {
        width: 100%;
        transform: rotateZ(45deg) translate(-8px, -6px);
        background-color: #4c516d;
    }
    .navbar {
        width: 200px;
        height: 100%;
        background-color: #afad9f;
        position: fixed;
        top: 0;
        right: -200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30% 0 0 80%;
        transition: right 0.8s cubic-bezier(1, 0, 0, 1);
        z-index: 10;
    }
    .change {
        right: 0;
    }
    .nav-list {
        text-align: right;
    }
    .nav-item {
        list-style: none;
        margin: 25px;
        padding-right: 40px;
    }
    .nav-link {
        text-decoration: none;
        font-size: 22px;
        color: #4c516d;
        font-family: monospace;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: relative;
        padding: 3px 0;
    }
    .nav-link::before,
    .nav-link::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #4c516d;
        position: absolute;
        left: 0;    
        transform: scaleX(0);
        transition: transform 0.5s;
    }
    .nav-link::after {
        bottom: 0;
        transform-origin: right;
    }
    .nav-link::before {
        top: 0;
        transform-origin: left;
    }
    .nav-link:hover::before,
    .nav-link:hover::after {
        transform: scaleX(1);
    }
    /* END Hamburger ICON */

    /* **** Main section **** */
    #background-img {
        background-image: url("Images/portfolioBgImage.png");
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        width: 100%;
        height: 740px;
        margin: 0 auto;
        position: relative;
    }

    #main-intro {
        margin-left: 20px;
        padding-top: 130px;
        text-align: left;  
        background-color: transparent;
    }
    #hi {
        text-align: left;  
        font-size: 1em;
        color: #acacac;
        font-weight: bold;
        font-family: 'Changa', sans-serif;
    }
    #name {
        text-align: left;  
        font-size: 68px;
        color: #a1c0e0;
        font-family: 'Cinzel', serif, Verdana, Geneva, Tahoma, sans-serif;
        line-height: 85px;
        font-weight: bold;
    }
    #top-underline {   
        background-color: #a1c0e0;
        left: 0;        
        width: 280px;
        height: 3px;
    }
    #main-intro p {
        text-align: left;  
        font-size: 1.1em;
        color: #fff;
        line-height: 25px;
        margin-bottom: 20px;
        max-width: 450px;
        padding-right: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #full-stack {
        position: relative;
        color: #acacac;
        font-size: 1.4em;
        font-weight: bold;
        font-family: 'Changa', sans-serif;
    }
    #full-stack::after {
        content: "";
        right: -5px;
        color: #acacac;
        width: 1px;
        height: 20px;
        border-right: 2px solid #acacac;
        animation: blink 0.5s infinite ease;
    }
    @keyframes blink {
        0%{
            opacity: 0;
        }
        100%{
        opacity: 1;
        }
    }
    #main-intro button {
        height: 50px;
        width: 140px;
        background: transparent;
        color: #a1c0e0;
        text-decoration: none;
        border: 2px solid #a1c0e0;
        border-radius: 10px;
        font-weight: bold;
        transition: .4s;
        margin-top: 20px;
        font-size: 1em;
        font-family: monospace;
        box-shadow: 0 0 15px 0 #000000;
    }
    #main-intro button:hover {
        background: transparent;
        cursor: pointer;
        border-radius: 15px;
        font-weight: bolder;
        color: #a1c0e0;
        box-shadow: 0 0 20px #a1c0e0;
    } 
    
    #social-top {
        writing-mode: vertical-rl; 
        position:fixed;
        right: 10px;
        top: 15%;
        vertical-align: middle;
        z-index: 1;
    }
    #social-top a {
        font-size: 1em;
        padding-bottom: 10px;
        vertical-align: middle;
    }
    #social-top a:nth-child(1) {
        color: #fff;
    }
    #social-top a:nth-child(2) {
        color: #1DA1F2;
    }
    #social-top a:nth-child(3) {
        color: #0e76a8;
    }
    #social-top a:nth-child(4) {
        color: #fff;
    }
    /* **** END Main section **** */


    /* About */
    #about-container {
        width: 100%;
        height: 900px;
        z-index: -1;
        background-color: #4c516d;
        position: relative;
        margin: 100px auto 50px;
        padding-top: 0;
        display: grid;
        place-items: center;
    }
    #about-inner-container {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        justify-content: center;
        max-width: 1080px;
        width: 100%;
    }
    #about-grid-1 {
        grid-row: 1;
        grid-column: 1;
    }
    #about-grid-1 img {
        display: none;
    }
    #about-grid-2 {
        grid-row: 2;
        grid-column: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #about-container img {
        height: 300px;
        width: auto;
        align-items: center;
        border-radius: 50%;
        box-shadow: 0px 0px 15px 0px #000000;
    }

    #about-container span {
        font-size: .8em;
    }
    #about-container h1 {
        font-family: 'Changa', sans-serif;
        color: #a1c0e0;
        font-size: 2.5em;
        text-align: left;
        margin-top: 0;
    }
    #about-underline {
        background-color:#a1c0e0;
        margin-top: -40px;
        margin-left: 40px;
        width: 113px;
        height: 3px;
    }
    #about-container p {
        line-height: 25px;
        font-size: 1.1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
        padding: 0 10px 0 40px;
    }
    /* End About */


    /* Skills */
    #skill-container {
        display: block;
        text-align: left;
        max-width: 1080px;
        margin: 0 auto;
    }
    #skill-container span {
        font-size: .8em;
    }
    #skill-container h1 {
        font-family: 'Changa', sans-serif;
        font-size: 2.5em;
        text-align: left;
        color: #000000;
    }
    #skill-underline {
        background-color:#000000;
        margin-top: -40px;
        margin-left: 40px;
        width: 100px;
        height: 3px;
    }
    #skill-container p {
        display: inline-block;
        line-height: 25px;
        font-size: 1.1em;
        padding: 0 10px 0 40px;
        color: #000000;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .grid-container {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        width: 100%;
        height: 100%;
        justify-content: center;
        margin: 30px auto 80px;
    }
    .grid {
        display: block;
        width: 260px;
        height: 260px;
        text-align: left;
        border-radius: 20px;
        color: #fff;
        padding: 0;
        margin: 20px 30px;
        box-shadow: 0px 0px 15px 0px #000000;
        background-color: #171515;
        position: relative;

    }
    .grid h2 {
        font-size: 1.8em;
        text-align: center;
    }
    .grid ul {
        position: relative;
        margin: 0;
        padding: 0;
        color: #fff;
        font-family: monospace;
        font-size: 1em;
        list-style-type: none;
        text-align: left;
        padding: 10px 20px;
    }
    #frontendBg {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
        width: 100%;
        height: 100%;
    }
    #frontendBg img {
        width: 100%;
        height: 100%;
    }
    #backendBg {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
        width: 100%;
        height: 100%;
    }
    #backendBg img {
        width: 100%;
        height: 100%;
    }  
    #databaseBg {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
        width: 100%;
        height: 100%;
    }
    #databaseBg img {
        width: 100%;
        height: 35%;
    } 
    #databaseBg img:last-child {
        display: none;
    } 
    #bulb {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 150px;
    }
    #bulb img:first-child{
        position: absolute;
        bottom: 10px;
        right: 25px;
        opacity: 1;
        height: 120px;
        width: auto;
    }
    #bulb img:last-child {
        position:absolute;
        bottom: 20px;
        right: -12px;
        width: 150px;
        height: auto;
        opacity: 0;
    }
    #gear-1 {
        position: absolute;
        top: 60px;
        left: 140px;
        opacity: 1;
        height: 100px;
        width: 100px;
    }
    #gear-1 img {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 1;
        height: 100%;
        width: 100%;
    }

    .grid:last-child ul img {
        position: absolute;
        height: 110px;
        width: auto;
        right: 20px;
        bottom: -80px;
    }
    .grid ul span {
        color: #a1c0e0;
        font-size: 1.5em;
    }
    .grid ul li {
        font-size: 1.3em;
    }
    /* End Skills */


    /* Portfolio */
    #portfolio-container {
        width: 100%;
        height: 640px;
        z-index: -1;
        background-color: #4c516d;
        position: relative;
        margin: 50px auto;
        padding-top: 0;
        display: grid;
        place-items: center;
    }
    #portfolio-inner-container {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        max-width: 1080px;
        width: 100%;
    }
    #portfolio-grid-1 {
        grid-row: 1;
        grid-column: 1;
    }
    #portfolio-grid-2 {
        grid-row: 2;
        grid-column: 1;
        padding: 0 20px;
    }
    #portfolio-container img {
        height: auto;
        width: 100%;
        box-shadow: 0px 0px 15px 0px #000000;
    }
    #portfolio-container span {
        font-size: .8em;
    }
    #portfolio-container h1 {
        font-family: 'Changa', sans-serif;
        color: #a1c0e0;
        font-size: 2.5em;
        text-align: left;
        margin-top: 0;
    }
    #portfolio-underline {
        background-color: #a1c0e0;
        margin-top: -40px;
        margin-left: 40px;
        width: 163px;
        height: 3px;
    }
    #portfolio-container p {
        line-height: 25px;
        font-size: 1.1em;
        text-align: left;
        padding: 0 10px 0 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /* END Portfolio */


    /* page container */
    .container {
        padding: 0 10px;
        width: auto;
        margin: 0 auto;
        max-width: 1366px;
    }


    /* Projects */
    #all-projects-container {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
        width: 100%;
        height: auto;
        justify-content: center;
        margin: 30px auto;
        background-color: transparent;
    }  
    .pro-desk {
        display: none;
    }
    .otherDevices {
        display: none;
    }

    .project-1 {
        position: relative;
        display: block;
        height: 570px;
        margin: 50px auto;
    }
    .project-1 img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .project-2 {
        position: relative;
        display: block;
        height: 570px;
        margin: 50px auto;
    }
    .project-2 img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .project-3 {
        position: relative;
        display: block;
        height: 570px;
        margin: 50px auto;
    }
    .project-3 img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .project-4 {
        position: relative;
        display: block;
        height: 570px;
        margin: 50px auto;
    }
    .project-4 img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .project {
        position: relative;
        display: block;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        background-color: #4c516d;
        height: 550px;
        width: auto;
        left: 0;
        padding: 0;
        box-shadow: 0px 0px 15px 0px #000000;
    }
    .project p {
        text-align: left;
        font-size: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #fff;
        padding: 10px 20px 0 20px;
        position: relative;
    }
    .project h1 {
        font-size: 1.5em;
        font-family: 'Changa', sans-serif;
        text-align: left;
        color: #a1c0e0;
        padding-top: 20px;
        border-bottom: 1px solid #a1c0e0;    
    }
    .project h1 span {
        color: #a1c0e0;    
        font-size: .8em;
    }
    .project ul {
        color: #fff;
        font-size: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        list-style-type: none;
        list-style: inside;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        text-align: left;
        padding: 20px 5px 10px 25px;
    }
    .project ul li {
        list-style-type: none;
    }
    .project ul li span {
        font-size: 1em;
        color: #a1c0e0;    
    }
    /* ****END of Projects Section **** */


    /* **** Contact section **** */
    #contact-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        margin: 0 auto 50px;
        width: auto;
        max-width: 1080px;
        padding: 0 15px;
    }
    #left-contact {
        grid-row: 1;
        grid-column: 1;
        padding: 0 10px;
        margin: 40px 0;
    }
    #left-contact h3 {
        font-size: 36px;
        text-align: center;
        font-weight: bolder;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0;
        margin-bottom: 20px;
        line-height: 50px;
    }
    .contact {
        grid-row: 2;
        grid-column: 1;
        padding: 20px;
        background-color: #171515;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px #000000;
    }
    .contact::before {
        content: '';
        position: absolute;
        top: 0;
        left: -40%;
        width: auto;
        height: 100%;
        background: rgba(255, 255, 255, 0.05);
        pointer-events: none;
        transform: skew(-15deg);
    }
    .contact h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 100%;
        text-align: center;
        padding-left: 0;
        color: #fff;
        font-size: 26px;
        line-height: 20px;
    }
    .contact .row100 {
        margin-top: 10px;
        position: relative;
        width: 100%;
        display: inline-flex;
    }
    .contact .row100 .col {
        position: relative;
        width: 100%;
        padding: 0 10px;
        margin: 20px 0 20px;
    }
    .contact .row100 .col .input-box {
        position: relative;
        width: 100%;
        height: 40px;
    }
    .contact .row100 .col .input-box input,
    .contact .row100 .col .input-box textarea {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        box-shadow: none;
        border: none;
        outline: none;
        font-size: 15px;
        padding: 0 10px;
        z-index: 1;
        color: #000000;	
    }
    .contact .row100 .col .input-box .text {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 40px;
        font-size: 18px;
        padding: 0 10px;
        display: block;	
        transition: 0.5s;
        pointer-events: none;
        color: #fff;
    }
    .contact .row100 .col .input-box input:focus + .text,
    .contact .row100 .col .input-box input:valid + .text,
    .contact .row100 .col .input-box textarea:focus + .text,
    .contact .row100 .col .input-box textarea:valid + .text {
        top: -35px;
        left: -10px;
    }
    .contact .row100 .col .input-box .line {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        transition: 0.5s;
        border-radius: 2px;
        pointer-events: none;
        background-color: #fff;
    }
    .contact .row100 .col .input-box input:focus ~ .line,
    .contact .row100 .col .input-box input:valid ~ .line {
        height: 100%;
    }
    .contact .row100 .col .input-box.textarea {
        position: relative;
        width: 100%;
        height: 100px;
        padding: 10px 0;
    }
    .contact .row100 .col .input-box textarea:focus ~ .line,
    .contact .row100 .col .input-box textarea:valid ~ .line {
        height: 100%;
    }
    .contact .row100 .col input[type="submit"] {
        height: 50px;
        width: 140px;
        background: transparent;
        color: #fff;
        text-decoration: none;
        border: 2px solid #a1c0e0;
        font-weight: bold;
        transition: .4s;
        text-align: center;
        font-size: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px #000000;
    }
    .contact .row100 .col input[type="submit"]:hover {
        background: transparent;
        cursor: pointer;
        font-weight: bolder;
        border-radius: 15px;
        color: #fff;
        box-shadow: 0 0 20px #a1c0e0;
    } 
    /* **** END Contact Page **** */


    /* **** Footer **** */
    footer {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        padding-top: 30px;
        background-color: #171515;
    }
    footer h1 {
        font-family: monospace;
        font-size: 1.5em;
        color: #fff;
    }

    #logo img {
        height: 80px;
        width: auto;
        padding: 20px;
    }

    #social-mobile {
        position: relative;
        font-size: 1.8em;
        display: inline-flex;
        width: 80%;
    }
    #social-mobile a {
        margin: 0 auto;
        padding-left: 5px;
    }

    #social-mobile a:nth-child(1) .fa{
        color: #55acee;
    }
    #social-mobile a:nth-child(2) .fa{
        color: #cd201f;
    }
    #social-mobile a:nth-child(3) .fa{
        color: #fff;
    }
    #social-mobile a:nth-child(4) .fa{
        color: #fff;
    }
    #social-mobile a:nth-child(5) .fa{
        color: #fff;
    } 
    /* arrow button */
    .arrow-btn {
        position: relative;
        margin: 0 auto;
        height: 60px;
        width: 60px;
        color: #fff;
    }
    .arrow {
        margin: 0 auto;
        text-align: center;
        height: 25px;
        width: 25px;
        border-style: solid;
        border-color: #fff;
        border-width: 0px 1px 1px 0px;
        transform: rotate(225deg);
        transition: border-width 150ms ease-in-out;
    }  
    .arrow:hover {
        border-bottom-width: 3px;
        border-right-width: 3px;
    }  
    .arrow-btn p {
        position: absolute;
        top: 10px;
        left: 5px;
    }
    /* END of arrow button */
    #copyright p {
        font-size: .8em;
        color: #fff;
    }
}

@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

    /* **** Main section **** */
    #background-img {
        height: 800px;
    }
    #main-intro {
        margin-left: 50px;
        padding-top: 150px;
    }

    #social-top a {
        font-size: 1.4em;
        padding-bottom: 15px;

    }

    /* About section */
    #about-container {
        height: 510px;
    }
    #about-inner-container {
        grid-template-rows: 100%;
        grid-template-columns: 100%;
    }
    #about-grid-1 {
        grid-row: 1;
        grid-column: 1;
        justify-content: center;
        margin: auto;
    }
    #about-grid-1 img {
        display: inline;
        float: right;
        height: 220px;
        width: auto;
        box-shadow: 0px 0px 15px 0px #000000;
    }
    #about-grid-2 {
        display: none;
    }
    /* End About */


    /* Portfoio */
    #portfolio-container {
        height: 460px;
    }
    #portfolio-inner-container {
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
    }
    #portfolio-grid-1 {
        grid-row: 1;
        grid-column: 1;
        justify-content: center;
        margin: auto;
    }
    #portfolio-grid-2 {
        grid-row: 1;
        grid-column: 2;
        justify-content: center;
        margin: auto;
        padding: 0;
    }
    #portfolio-container img {
        height: 200px;
        width: auto;
        box-shadow: 0px 0px 15px 0px #000000;
    }
    /* END Portfolio */


    /* Projects Section */
    .pro-mobile {
        display: none;
    }
    .pro-desk {
        display: inline;
    }

    #all-projects-container {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
        width: 100%;
        height: auto;
        justify-content: center;
        margin: 50px auto;
    }
    .project p {
        padding: 0 20px;
    }
    .project ul {
        padding: 5px 5px 0 25px;
    }

    .project-1 {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        width: 570px;
        height: 475px;
        margin: 100px auto;
        background-color: #afad9f;
        position: relative;
        box-shadow: 0px 0px 20px 0px #000000;
    }
    .project-1 .project {
        grid-row: 1;
        grid-column: 1;
        border-radius: 0 30px 0 0;
        height: auto;
        width: 100%;
        box-shadow: 0px 0px 10px 0px #000000;
        position: relative;
    }
    .project-1 img:first-child {
        grid-row: 1;
        grid-column: 2;
        height: auto;
        width: 100%;
    }
    .project-1 .otherDevices {
        display: inline;
        position: absolute;
        bottom: 0;
        left: 80px;
        height: auto;
        width: 300px;
        z-index: 1;
    }
    .project-1 .otherDevices img {
        height: auto;
        width: 100%;
    }

    .project-2 {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        width: 570px;
        height: 475px;
        margin: 50px auto;
        background-color: #afad9f;
        box-shadow: 0px 0px 20px 0px #000000;
    }
    .project-2 .project {
        grid-row: 1;
        grid-column: 2;
        border-radius: 30px 0 0 0;
        height: auto;
        width: 100%;
        box-shadow: 0px 0px 10px 0px #000000;
        position: relative;
    }
    .project-2 img:first-child {
        grid-row: 1;
        grid-column: 1;
        height: auto;
        width: 50%;
    }
    .project-2 .otherDevices {
        display: inline;
        position: absolute;
        bottom: 0;
        left: -90px;
        height: auto;
        width: 300px;
        z-index: 1;
    }
    .project-2 .otherDevices img {
        height: auto;
        width: 100%;
    }

    .project-3 {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        width: 570px;
        height: 475px;
        margin: 100px auto;
        background-color: #afad9f;
        position: relative;
        box-shadow: 0px 0px 20px 0px #000000;
    }
    .project-3 .project {
        grid-row: 1;
        grid-column: 1;
        border-radius: 0 30px 0 0;
        height: auto;
        width: 100%;
        box-shadow: 0px 0px 10px 0px #000000;
        position: relative;
    }
    .project-3 img:first-child {
        grid-row: 1;
        grid-column: 2;
        height: auto;
        width: 100%;
    }
    .project-3 .otherDevices {
        display: inline;
        position: absolute;
        bottom: 0;
        left: 80px;
        height: auto;
        width: 300px;
        z-index: 1;
    }
    .project-3 .otherDevices img {
        height: auto;
        width: 100%;
    }

    /*
    .project-3 {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        width: 570px;
        height: 475px;
        margin: 100px auto;
        background-color: #afad9f;
        box-shadow: 0px 0px 20px 0px #000000;
    }
    .project-3 .project {
        grid-row: 1;
        grid-column: 1;
        border-radius: 0 30px 0 0;
        height: auto;
        width: 100%;
        box-shadow: 0px 0px 10px 0px #000000;
        position: relative;
    }
    .project-3 img:last-child {
        grid-row: 1;
        grid-column: 2;
        height: auto;
        width: 100%;
    }
    .project-3 .otherDevices {
        display: inline;
        position: absolute;
        bottom: 0;
        left: 80px;
        height: auto;
        width: 300px;
        z-index: 1;
    }
    .project-3 .otherDevices img {
        height: auto;
        width: 100%;
    }
    */

    .project-4 {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        width: 570px;
        height: 475px;
        margin: 50px auto;
        background-color: #afad9f;
        box-shadow: 0px 0px 20px 0px #000000;
    }
    .project-4 .project {
        grid-row: 1;
        grid-column: 2;
        border-radius: 30px 0 0 0;
        height: auto;
        width: 100%;
        box-shadow: 0px 0px 10px 0px #000000;
        position: relative;
    }
    .project-4 img:first-child {
        grid-row: 1;
        grid-column: 1;
        height: auto;
        width: 50%;
    }
    .project-4 .otherDevices {
        display: inline;
        position: absolute;
        bottom: 0;
        left: -90px;
        height: auto;
        width: 300px;
        z-index: 1;
    }
    .project-4 .otherDevices img {
        height: auto;
        width: 100%;
    }
    /* End Projects */


    /* Social links */
    #social-mobile {
        width: 60%;
    }
}

@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    /* * Desktop Nav */
    .navbar {
        display: none;
    }
    #nav-links-container {
        position: fixed;
        background-color: #4c516d;
        top: 0;
        width: 100%;
        height: 60px;
        z-index: 10;
    }
    .nav-links {
        display: inline;
        position: fixed;
        top: 0;
        right: 50px;
        width: auto;
        height: 30px;
        margin: 20px;
        text-align: center;
        z-index: 1;
    }
    .nav-links a {
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 1em;
        padding: 20px 0;
        font-family: 'Changa', sans-serif;
        cursor: pointer;
        font-weight: bold;    
    }
    .nav-links a:hover {
        color: #a1c0e0;
    }
    .nav-links a span {
        color: #a1c0e0;
        text-align: center;
        text-decoration: none;
        font-size: 1em;
        padding: 20px 0;
        font-family: monospace;
        margin: 0 3px 0 5px;
    }
    /* END Desktop Nav */


    /* **** Main section **** */
    #background-img {
        height: 1024px;
    }
    #main-intro {
        margin-left: 80px;
        padding-top: 160px;
    }
    /* End Main intro */

    #about-grid-1 img {
        margin-right: 30px;
    }

    /* Skills */
    #skill-inner-container {
        margin-left: 20px;
    }
    .grid-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto;
    }
    .grid {
        width: 210px;
        height: 210px;
        margin: 20px 10px;
    }
    .grid ul {
        padding: 0 20px;
    }

    #bulb img:first-child{
        position: absolute;
        bottom: 10px;
        right: 12px;
        opacity: 1;
        height: 100px;
        width: auto;
    }
    #bulb img:last-child {
        position:absolute;
        bottom: 20px;
        right: -10;
        width: 115px;
        height: auto;
    }
    #gear-1 {
        top: 25px;
        left: 115px;
        height: 90px;
        width: 90px;
    }
    .grid:last-child ul img {
        height: 90px;
        right: 10px;
        bottom: -50px;
    }
    /* End Skills */

    /* Projects */
    .project-1, .project-2, .project-3, .project-4 {
        width: 600px;
    }

    /* Contact */
    #contact-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
    }
    #left-contact {
        grid-row: 1;
        grid-column: 1;
    }
    .contact {
        grid-row: 1;
        grid-column: 2;
    }
}

@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    /* **** Main section **** */
    #background-img {
        height: 768px;
    }
    #main-intro {
        margin-left: 100px;
    }
    /* End Main intro */


    /* About section */
    #about-inner-container {
        width: 800px;
        padding: 25px;
        box-shadow: 0 0 15px 0 #000000;
    }
    /* End About */


    /* Skills */
    #skill-inner-container {
        margin: 0 80px;
        padding: 25px;
    }
    .grid {
        height: 220px;
        width: 220px;
        margin: 20px 30px;
    }
    /* End Skills */

    /* Portfolio */
    #portfolio-container {
        height: 460px;
    }
    #portfolio-inner-container {
        width: 800px;
        padding: 25px;
        box-shadow: 0 0 15px 0 #000000;
    }
    /* End portfolio */    

    /* Projects */
    .project p {
        padding: 10px 20px 0;
    }
    .project ul {
        padding: 10px 5px 0 25px;
    }
    .project-1, .project-2, .project-3, .project-4 {
        width: 700px;
        height: 500px;
    }
    .project-1 .otherDevices, .project-3 .otherDevices {
        left: 100px;
        height: auto;
        width: 350px;
    }
    .project-2 .otherDevices, .project-4 .otherDevices {
        left: -100px;
        height: auto;
        width: 350px;
    }

    /* Contact */
    #contact-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
    }
    #left-contact {
        grid-row: 1;
        grid-column: 1;
        padding: 0 60px
    }
    .contact {
        grid-row: 1;
        grid-column: 2;
        margin-right: 20px;
    }

    /* Social links */
    #social-mobile {
        width: 40%;
    }
}

@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    /* **** Main section **** */
    #background-img {
        height: 834px;
    }
    #social-top a {
        font-size: 1.8em;
    }

    /* Portfolio */
    #portfolio-inner-container {
        margin: 0 100px;
    }
    #portfolio-grid-2 {
        left: 500px;
    }
    #portfolio-container img {
        height: 250px;
    }
    /* END Portfolio */
}

@media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    #background-img {
        height: 1024px;
    }

    /* End About */
    #skill-inner-container {
        padding: 25px;
    }

    #bulb img:first-child{
        top: 35px;
        right: 18px;
        height: 100px;
    }
    #bulb img:last-child {
        bottom: 20px;
        right: -20;
        width: 125px;
        height: auto;
    }
    #bulb img:last-child:hover {
        transition: 2.5s;
        opacity: 1;
    }
    #gear-1 {
        top: 35px;
        left: 115px;
        height: 90px;
        width: 90px;
    }
    .grid:last-child ul img {
        height: 90px;
        right: 10px;
        top: 35px;
    }
    #gear-1 img:hover {
        border-radius: 100%;
        animation: spinRight 1500ms linear infinite;
    }
    @keyframes spinRight {
        from {
            transform: rotate(-360deg);
        }
        to {
            transform: rotate(0deg);
        }
    }

    #databaseBg {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    #databaseBg img:first-child {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 35%;
        opacity: .2;
    } 
    #databaseBg img:last-child {
        position: absolute;
        bottom: 145px;
        right: 0;
        display: inline;
        width: 200%;
        height: 65%;
        opacity: 0;
    } 
    #databaseBg img:last-child:hover {
        opacity: 1;
    }  
}